<div>
	<h3> Bâtiments :</h3>



	<div class="album py-5 bg-light">
		<div class="container">

			<div class="row">

				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
							xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
							role="img" aria-label="Placeholder: Bâtiment Principal">
							<title>Bâtiment Principal : en fonction du level village d'abord puis ville</title>
							<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
								dy=".3em"> Bâtiment Principal</text>
						</svg>
						<div class="card-body">
							<p class="card-text">Bâtiment Principal : en fonction du level village d'abord puis ville.
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
									<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
								</div>
								<small class="text-muted">9 mins</small>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
							xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
							role="img" aria-label="Placeholder: Bâtiment de rassemblement">
							<title>Bâtiment de rassemblement</title>
							<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
								dy=".3em">Bâtiment de rassemblement</text>
						</svg>
						<div class="card-body">
							<p class="card-text">Bâtiment de rassemblement : place du village/de la ville</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
									<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
								</div>
								<small class="text-muted">9 mins</small>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
							xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
							role="img" aria-label="Placeholder: Bâtiment de production de ressource 1">
							<title>Bâtiment de production de ressource 1</title>
							<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
								dy=".3em">Bâtiment de production de ressource 1</text>
						</svg>
						<div class="card-body">
							<p class="card-text">Bâtiment de production de ressource 1 : </p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
									<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
								</div>
								<small class="text-muted">9 mins</small>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
							xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
							role="img" aria-label="Placeholder: Bâtiment de production de ressource 2">
							<title>Bâtiment de production de ressource 2</title>
							<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
								dy=".3em">Bâtiment de production de ressource 2</text>
						</svg>
						<div class="card-body">
							<p class="card-text">Bâtiment de production de ressource 2.</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
									<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
								</div>
								<small class="text-muted">9 mins</small>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
							xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
							role="img" aria-label="Placeholder: Bâtiment de production de ressource 3">
							<title>Bâtiment de production de ressource 3</title>
							<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
								dy=".3em">Bâtiment de production de ressource 3</text>
						</svg>
						<div class="card-body">
							<p class="card-text">Bâtiment de production de ressource 3.</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
									<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
								</div>
								<small class="text-muted">9 mins</small>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
							xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
							role="img" aria-label="Placeholder: Bâtiment de production de ressource 4">
							<title>Bâtiment de production de ressource 4</title>
							<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
								dy=".3em">Bâtiment de production de ressource 4</text>
						</svg>
						<div class="card-body">
							<p class="card-text">Bâtiment de production de ressource 4.</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
									<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
								</div>
								<small class="text-muted">9 mins</small>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
							xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
							role="img" aria-label="Placeholder: Bâtiment de stockage de ressource">
							<title>Bâtiment de stockage de ressource</title>
							<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
								dy=".3em">Bâtiment de stockage de ressource</text>
						</svg>
						<div class="card-body">
							<p class="card-text">Bâtiment de stockage de ressource.</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
									<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
								</div>
								<small class="text-muted">9 mins</small>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
							xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
							role="img" aria-label="Placeholder: Bâtiment de recrutement d'unités basiques">
							<title>Bâtiment de recrutement d'unités basiques</title>
							<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
								dy=".3em">Bâtiment de recrutement d'unités basiques</text>
						</svg>
						<div class="card-body">
							<p class="card-text">Bâtiment de recrutement d'unités basiques</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
									<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
								</div>
								<small class="text-muted">9 mins</small>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
							xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
							role="img" aria-label="Placeholder: Bâtiment de recrutement d'unités spécifiques">
							<title>Bâtiment de recrutement d'unités spécifiques</title>
							<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
								dy=".3em">Bâtiment de recrutement d'unités spécifiques</text>
						</svg>
						<div class="card-body">
							<p class="card-text">Bâtiment de recrutement d'unités spécifiques</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
									<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
								</div>
								<small class="text-muted">9 mins</small>
							</div>
						</div>
					</div>
				</div>


        			<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
							xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
							role="img" aria-label="Placeholder: Bâtiment d'amélioration : Académie">
							<title>Bâtiment d'amélioration : Académie</title>
							<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
								dy=".3em">Bâtiment d'amélioration : Académie</text>
						</svg>
						<div class="card-body">
							<p class="card-text">Bâtiment d'amélioration : Académie.</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
									<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
								</div>
								<small class="text-muted">9 mins</small>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
							xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
							role="img" aria-label="Placeholder: ">
							<title>Bâtiment défensif : Mur</title>
							<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
								dy=".3em">Bâtiment défensif : Mur</text>
						</svg>
						<div class="card-body">
							<p class="card-text">Bâtiment défensif : Mur.</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
									<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
								</div>
								<small class="text-muted">9 mins</small>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
							xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
							role="img" aria-label="Placeholder: Bâtiment défensif 2 : Douve">
							<title>Bâtiment défensif 2 : Douve</title>
							<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
								dy=".3em">Bâtiment défensif 2 : Douve</text>
						</svg>
						<div class="card-body">
							<p class="card-text">Bâtiment défensif 2 : Douve.</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
									<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
								</div>
								<small class="text-muted">9 mins</small>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
							xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
							role="img" aria-label="Placeholder: Bâtiment habitation : Maison">
							<title>Bâtiment habitation : Maison</title>
							<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
								dy=".3em">Bâtiment habitation : Maison</text>
						</svg>
						<div class="card-body">
							<p class="card-text">Bâtiment habitation : Maison</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
									<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
								</div>
								<small class="text-muted">9 mins</small>
							</div>
						</div>
					</div>
				</div>



			</div>
		</div>
	</div>

	<p> Bâtiment Principal : en fonction du level village d'abord puis ville -> level </p>
	<p> Bâtiment de rassemblement : place du village/de la ville -> level </p>


	<p> Bâtiment de production de ressource 1 -> level </p>
	<p> Bâtiment de production de ressource 2 -> level </p>
	<p> Bâtiment de production de ressource 3 -> level </p>
	<p> Bâtiment de production de ressource 4 -> level </p>
	<p> Bâtiment de stockage de ressource -> level </p>


	<p> Bâtiment de recrutement d'unités basiques -> level </p>
	<p> Bâtiment de recrutement d'unités spécifiques -> level </p>

	<p> Bâtiment d'amélioration : Académie -> level </p>

	<p> Bâtiment défensif : Mur -> level </p>

	<p> Bâtiment défensif 2 : Douve -> level </p>

	<p> Bâtiment habitation : Maison -> level </p>





</div>


<div *ngIf="crisis">
	<h3>"{{ editName }}"</h3>
	<div>
		<label>Id: </label>{{ crisis.id }}</div>
	<div>
		<label>Name: </label>
		<input [(ngModel)]="editName" placeholder="name"/>
  </div>
		<p>
			<button (click)="save()">Save</button>
			<button (click)="cancel()">Cancel</button>
		</p>
	</div>

	<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->